* {
  box-sizing: border-box;
}
html {
  background: #333333;
  color: #808080;
  font-weight: 500;
  font-family: "museo-sans", sans-serif;
}
body {
  overflow: hidden;
  padding: 0 15px;
  margin: 0;
}
.container {
  display: flex;
  height: 70vh;
  align-items: center;
  padding: 40px;
}
.input {
  flex: 1;
  height: 36px;
  border: 1px solid #ababab;
  border-radius: 5px;
  background: #fff;
  font-size: 20px;
  padding: 0 10px;
  color: #000;
}
.status {
  height: 30vh;
  text-align: center;
}
#status-text {
  margin-left: 5px;
}
#image-status {
  margin-left: 5px;
  height: 12px;
  width: 12px;
}
.Unknown {
  color: #999;
}
.Clean {
  color: #22B573;
}
.Dirty {
  color: red;
}
